/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background: linear-gradient(); */
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    height: 83px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logo{
    margin: 10px 10px;
}
#logo img{
    /* here filter is used to get the background of nav equal to img  */
    filter: invert(.2);
    width: 87px;
    margin: 2px 30px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    margin: 2px 20px;
}
#navbar ul li a{
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding: 28px 25px;
    text-decoration: none;
}

#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    width: 97%;
    height: 100%;
    z-index: -1;
    opacity: .2;
}

#navbar ul li a:hover{
    background-color: black;
    color: white;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px 300px;
    margin: 100px 2px;
}
#home::before{
    content: "";
    position: absolute;
    /* img= http://www.w3schools.com/css/trolltunga.jpg */
    background: url("math.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
}
#home p{
    font-size: 20px;
    color: whitesmoke;
}
.btn{
    margin: 20px 2px;
    padding: 4px 10px;
    font-size: 21px;
    font-weight: 300;
    background-color: #333;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover{
    background-color: whitesmoke;
    color: black;
    /* border: none; */
    font-weight: bold;
}

.services-container{
    color: whitesmoke;
    background-color: black;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.s-primary{
    margin-top: 30px;
    font-size: 40px;
}
.services-container p{
    text-align: center;
    font-size: 18px;
    padding: 15px 300px;
}
.services{
    margin: 79px 2px;
    display: flex;
}
.services h1{
    text-align: center;
}
.services img{
    height: 260px;
    margin: 4px 15px;
    border: 4px solid white;
    border-radius: 20px;
}
.about{
    position: relative;
    top: 150px;
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abouth{
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
}
.about img{
    width: 280px;
    height: 300px;
    filter: invert(0.8);
    border-radius: 20px;
    border: 5px solid #333;
    padding: 10px;
}
footer{
    position: relative;
    top: 150px;
    text-align: center;
    background-color: black;
    color: white;
}
footer p{
    padding: 30px;
}